* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden; /* Hide scrollbars */
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1; /* Keep it in the back */
}

.info {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 2; /* Bring it to the front */
}